@import url(http://fonts.googleapis.com/css?family=Abel|Lato|Great+Vibes);

body {
    font-family: "Lato";
    background: #EEE;
}

#logo {
    background: url(images/small_logo.png) center no-repeat;
    height: 146px;
    background-size: contain;

}

@media only screen and (min-width: 692px) {
    #logo {
        background: url(images/scaled_logo.png) center no-repeat;
        background-size: contain;
        min-height: 25em
    }

    .form-control::-webkit-input-placeholder {
        opacity: 0;
    }

    .form-control:-moz-placeholder {
        color: transparent;
    }

    /* FF 4-18 */
    .form-control::-moz-placeholder {
        color: transparent;
    }

    /* FF 19+ */
    .form-control:-ms-input-placeholder {
        color: transparent;
    }

    /* IE 10+ */
}

@media only screen and (max-width: 692px) {
    .tableHeader {
        display: none;
    }
}

.content {
    background: #FFF;
    padding-bottom: 5em;
}

#bhajan_signup .selectContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}



